{% extends 'base.html.twig' %}

{% block title %}TaskFiles
{% endblock %}

{% block body %}

	<figure class="figure">
		<img src="{{ vich_uploader_asset(task_file) }}" alt="{{ task_file.filesName }}">
		<figcaption class="figure-caption text-end">{{ task_file.filesName }}</figcaption>
	</figure>

	<a href="{{ path('task.show', {'id': project.id, 'column_id': column.id, 'task_id': task.id}) }}">back to task</a>
	{{ include('task_files/_delete_form.html.twig') }}
{% endblock %}
